/*! base start */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-col,
.row-col-6,
.row-col-12,
.row-col-50 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row-title {
  text-align: center;
  padding-bottom: 60px;
}
.row-title h2 {
  font-size: 45px;
  color: #302128;
  line-height: 50px;
  font-weight: 700;
  padding: 0;
  display: inline-block;
  text-transform: none;
  text-transform: capitalize;
}
.offset-1 {
  margin-left: 16.666667%;
}
.offset-2 {
  margin-left: 33.333333%;
}
.d_flex_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/*! responsive */
@media (min-width: 992px) {
}
@media (min-width: 768px) {
  .row-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-col-50,
  .row-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 576px) {
}
/*! base end */

/*! header start */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #251524;
  box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
  z-index: 10;
}
.header-row {
  height: 103px;
  display: flex;
  align-items: center;
}
.header-row .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-row .container .menu-list-icon {
  display: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-row .header-navbar .menu-list {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.header-row .menu-list .header-navbar-logo img {
  max-width: 100%;
}
.header-row .header-navbar .menu-list li a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.header-row .header-navbar .menu-list li a:hover {
  color: #ffc000;
}
.header-row .header-search,
.header-row .header-login {
  display: flex;
  align-items: center;
  height: 103px;
  font-size: 44px;
  background-color: #ffc000;
  padding: 50px;
  margin: -15px;
  cursor: pointer;
}
.header-row .header-search i:hover,
.header-row .header-login i:hover {
  color: #fff;
}

/*! header end */

/*! banner start */
.banner-bg {
  background: url(./images/banner_bg.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 103px);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-bg-text {
  display: flex;
  flex-direction: column;
}
.banner-bg span {
  font-size: 41px;
  line-height: 45px;
  color: #2d1e2a;
  font-weight: bold;
  padding-bottom: 30px;
  text-transform: uppercase;
  display: block;
  margin-top: 90px;
}
.banner-bg strong {
  font-size: 92px;
  line-height: 85px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.banner-bg h1 {
  font-size: 90px;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
}
.banner-bg h2 {
  font-size: 150px;
  color: #fff;
  font-weight: bold;
  margin-top: -20px;
}
/*! banner end */

/*! recipes end */
.recipes {
  padding-top: 85px;
  background: #fff;
  position: relative;
}
.recipes::before {
  position: absolute;
  content: "";
  background: url(./images/recipes/left_before.png);
  background-repeat: no-repeat;
  width: 249px;
  height: 500px;
  left: 0;
  bottom: 110px;
}
.recipes::after {
  position: absolute;
  content: "";
  background: url(./images/recipes/right_after.png);
  background-repeat: no-repeat;
  width: 302px;
  height: 500px;
  right: -67px;
  bottom: 110px;
}
.recipes .container {
  max-width: 1170px;
}
.recipes h2 {
  font-size: 45px;
  color: #302128;
  line-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.recipes p {
  font-size: 17px;
  padding-top: 15px;
  color: #2b2b2b;
}
.recipes .row-col .recipes-row-box {
  background: #fff;
  margin-bottom: 50px;
  padding: 50px 20px;
  z-index: 9;
  position: relative;
  border: solid #ffc000 5px;
  text-align: center;
}
.recipes-row-box figure {
  margin: 0;
}
.recipes-row-box figure img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.recipes-row-box h3 {
  color: #161616;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 22px;
}
.recipes-row-box span {
  color: #ffba00;
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
}
.recipes .row-col-button {
  flex: 0 0 100%;
  max-width: 100%;
}
.recipes .row-col-button .btn {
  margin-top: 50px;
  font-size: 17px;
  background: #302128;
  max-width: 186px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: #fff;
  display: block;
  height: 52px;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
}
.recipes .row-col-button .btn:hover {
  background: #feb700;
  color: #302128;
}
/*! banner end */

/*! about start */
.about {
  background: #fff;
  padding-top: 85px;
  padding-bottom: 90px;
}
.about p {
  font-size: 17px;
  padding-top: 15px;
  color: #2b2b2b;
}
.about-bg {
  background: url(./images/about/about_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 66px 0;
}
.about-bg .about-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-img-left figure,
.about-img-center figure,
.about-img-right figure {
  margin: 0;
}
.about-img-left figure img,
.about-img-center figure img,
.about-img-right figure img {
  max-width: 100%;
}
.about-img-right figure img {
  margin: 0 auto;
  margin-right: 0;
  display: block;
}
.about .container {
  max-width: 1170px;
}
.about .about-text {
  margin: 0;
  text-align: center;
}
.about .about-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #232323;
  padding: 55px;
  border: #848484 solid 1px;
  margin-bottom: 70px;
}
.about .about-text .btn {
  margin-top: 50px;
  font-size: 17px;
  background: #302128;
  max-width: 186px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: #fff;
  display: block;
  height: 52px;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
}
.about .about-text .btn:hover {
  background: #feb700;
  color: #302128;
}
/*! banner end */

/*! book table start */
.book-table {
  background: #302128;
  padding-top: 85px;
  padding-bottom: 90px;
  position: relative;
}
.book-table::before {
  position: absolute;
  content: "";
  background: url(./images/form/table_right.png);
  background-repeat: no-repeat;
  width: 248px;
  height: 324px;
  right: 0;
  top: 300px;
}
.book-table .container {
  max-width: 1170px;
}
.book-table .book-table-title {
  padding-bottom: 20px;
  text-align: left;
}
.book-table .book-table-title h2 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
}
.book-table .book-table-title h2 .yellow {
  color: #ffb800;
}
.book-table .book-table-title p {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}
.book-table .table-form .group-form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.form-icon {
  background: #ffb800;
  width: 63px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus {
  border: inherit;
  width: 100%;
  padding: 0px 25px;
  background: #fff;
  color: #1f1d47;
  font-size: 18px;
  font-weight: normal;
  box-shadow: inherit;
  height: 61px;
}
.nice-select {
  width: 100% !important;
  line-height: 61px !important;
  text-transform: uppercase;
}
.contactus.nice-select::after {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  content: "";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  right: 18px;
  top: 45%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 12px;
}
.send-btn {
  background: #ffb800;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  color: #fff;
  height: 81px;
  line-height: 81px;
  transition: ease-in all 0.5s;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
}
.send-btn:hover {
  background: #fff;
  color: #ffb800;
  transition: ease-in all 0.5s;
  cursor: pointer;
}
.table-img figure {
  margin: 0;
}
.table-img figure img {
  border-radius: 60%;
  border: #efae03 solid 20px;
  max-width: 100%;
  display: block;
  text-align: right;
  margin: 0 auto;
  margin-right: 0;
}
/*! book table end */

/*! map start */
.section .row-col-12 {
  padding: 0;
}
/*! map end */

/*! news start */
.news {
  background: #fff;
  padding-top: 85px;
  position: relative;
}
.news .container {
  max-width: 1170px;
}
.news .row-title h2 {
  padding-bottom: 10px;
}
.news .row-title p {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #232323;
  padding-bottom: 29px;
}
.first-section {
  padding-bottom: 30px;
}
.news-img figure {
  margin: 0;
}
.news-img figure img {
  width: 100%;
  box-shadow: 0 0 19px rgb(30 30 30 / 10%);
}
.recipe-date {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: left;
}
.recipe-date span {
  background: #ffb800;
  display: block;
  text-align: center;
  padding: 30px 20px;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
.news-recipe h3 {
  color: #50504f;
  font-size: 35px;
  line-height: 45px;
  font-weight: bold;
  margin-top: 12px;
}
.news-recipe p {
  color: #50504f;
  font-size: 17px;
  line-height: 30px;
  padding: 18px 0 27px 0;
}
.news-recipe ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  position: relative;
  flex-wrap: wrap;
}
.news-recipe ul li {
  display: inline-block;
  color: #50504f;
}
.news-recipe ul li a {
  display: inline-block;
  color: #50504f;
  font-size: 17px;
}
.news-recipe ul li a:hover {
  color: #ffb800;
}
.news-recipe ul li a img {
  padding-left: 14px;
}
/*! news end */

/*! blog start */
.blog {
  background: #ffffff;
  padding-top: 85px;
  position: relative;
}
.blog .container {
  max-width: 1170px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.test-box {
  background: #ffffff;
  box-shadow: 0 0 19px rgb(30 30 30 / 10%);
  padding: 0 40px 55px 40px;
  margin: 15px;
  margin-top: 66px;
  z-index: 9999999;
  position: relative;
  text-align: left;
}
.test-box i img {
  margin-top: -66px;
}
.test-box h4 {
  color: #262626;
  font-size: 29px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.test-box span {
  width: 121px;
  background: #ffb800;
  height: 9px;
  display: block;
  margin-top: 15px;
}
.test-box p {
  color: #262626;
  font-size: 17px;
  line-height: 30px;
  padding: 40px 0 50px 0;
}
.img-responsive {
  max-width: 100%;
}
/*! blog end */

/*! responsive */
@media (max-width: 1199px) {
  .header-row .header-navbar .menu-list {
    column-gap: 20px;
  }
  .header-row .header-navbar .menu-list li a {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .header-row .header-navbar .menu-list {
    column-gap: 15px;
  }
  .header-row .header-navbar .menu-list li a {
    font-size: 15px;
  }
  .news-img {
    margin-bottom: 30px;
}
}
@media (max-width: 768px) {
  .header-wrapper {
    visibility: hidden;
  }
  .header-row {
    background: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    background-size: 100px;
  }
  .header-row .container .menu-list-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 2px;
    color: #fff;
    font-size: 80px;
  }
  .header-navbar .navbar {
    position: relative;
  }
  .banner-bg span {
    font-size: 38px;
  }
  .banner-bg strong {
    font-size: 76px;
  }
  .banner-bg h1 {
    font-size: 76px;
  }
  .banner-bg h2 {
    font-size: 138px;
  }
  .offset-1 {
    margin-left: unset;
  }
  .offset-2 {
    margin-left: unset;
  }
  .recipes::after {
    z-index: -1;
  }
  .about-img-left figure img,
  .about-img-center figure img,
  .about-img-right figure img {
    margin: 0 auto;
    display: block;
  }
  .about-img-center figure img {
    margin: 97px auto;
  }
  .table-img figure img {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .header-row .container .menu-list-icon {
    position: absolute;
    right: 10px;
    top: 27px;
    color: #fff;
    font-size: 40px;
  }
  .banner-bg {
    background-size: cover;
    background-position: center;
  }
  .banner-bg-text {
    gap: 80px;
  }
  .banner-bg span {
    font-size: 26px;
    color: #000;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
  .banner-bg strong {
    font-size: 36px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
  .banner-bg h1 {
    font-size: 45px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
  .banner-bg h2 {
    font-size: 85px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
  .recipes::before {
    visibility: hidden;
  }
  .recipes::after {
    visibility: hidden;
  }
}
